<div class="row gpCard">
    <div class="col s12 m6 l6 push-l3 hide-on-large-only">
      <div class="card">
        <div class="card-image">
          <img src="/Images/220px-WoW_Box_Art1.jpeg">
          <span class="card-title black pink-text lighten-5">{{game.title}}</span>
        </div>
        <div class="card-content black cyan-text accent-1 center-align">
          <p>{{game.description}}</p>
          <div class="card-content black center-align">
            <i class="small material-icons pink-text lighten-5">whatshot</i>
            <i class="small material-icons pink-text lighten-5">whatshot</i>
            <i class="small material-icons pink-text lighten-5">whatshot</i>
            <i class="small material-icons pink-text lighten-5">whatshot</i>
            <i class="small material-icons pink-text lighten-5">whatshot</i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="gameBox game-card col s12 m6 l6 push-l3 hide-on-small-only">
    <div class="card center-align">
      <div class="card-image center-align black">
        <img src="/Images/220px-WoW_Box_Art1.jpeg">
        <span><a class="card-heading" href='game.html'>{{game.title}}</a></span><br>
      </div>
      <div class="card-content black">
        <i class="small material-icons pink-text lighten-5">whatshot</i>
        <i class="small material-icons pink-text lighten-5">whatshot</i>
        <i class="small material-icons pink-text lighten-5">whatshot</i>
        <i class="small material-icons pink-text lighten-5">whatshot</i>
        <i class="small material-icons pink-text lighten-5">whatshot</i>
      </div>
    </div>
  </div>


<h3 class="mrr">Most Recent Review:</h3>
  <div class="section">
    <div class="gRev center-align">
        <div class="card black">
            <div class="card-content">
                <span class="gHead card-title">Create helper to return most recent review</span>
                <p>Create helper to return most recent review description
                </p>
            </div>
            <div class="revFS">
                <i class="material-icons pink-text lighten-5">whatshot</i>
                <i class="material-icons pink-text lighten-5">whatshot</i>
                <i class="material-icons pink-text lighten-5">whatshot</i>
            </div>
            <div class="card-action">
                <a class="unRev pink-text lighten-5" href="#">Create helper to return most recent review user</a>
                <p>create helper to return most recent review creation date</p>
            </div>
            <div class="card-action">
                <p>Was this review helpful?</p>
                <button><i class="material-icons tiny">thumb_up</i></button>
                <button><i class="material-icons tiny">thumb_down</i></button>
            </div>
        </div>
    </div>
</div>

  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Fue or Nay?</h4>
    </div>
    <h5>Review Title</h5>
    <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <textarea id="textarea1" class="materialize-textarea" data-length="20"></textarea>
              <label for="textarea1">Write a title for your review here!</label>
            </div>
          </div>
        </form>
      </div>
      <h5>Which console?</h5>
      <div class="input-field col s12" id="consoleSelect">
        <select multiple>
          {{#each game.consoles}}
          <option value="{{this.id}}">{{this.name}}</option>
          {{/each}}
        </select>
      </div>
      <!--Flame rating-->
      <h5>How fuego was this game tho?</h5>
      <ul class="rate-area row">
        <a class="waves-effect waves-teal btn-flat" id="fue1"><i class="medium material-icons">whatshot</i></a>
        <a class="waves-effect waves-teal btn-flat" id="fue2"><i class="medium material-icons">whatshot</i></a>
        <a class="waves-effect waves-teal btn-flat" id="fue3"><i class="medium material-icons">whatshot</i></a>
        <a class="waves-effect waves-teal btn-flat" id="fue4"><i class="medium material-icons">whatshot</i></a>
        <a class="waves-effect waves-teal btn-flat" id="fue5"><i class="medium material-icons">whatshot</i></a>
      </ul>
      <!--Write review-->
      <h5>Tell us why!</h5>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
              <label for="textarea2">Write Your Review Here!</label>
            </div>
          </div>
        </form>
      </div>
      </p>
      <div class="modal-footer">
        <button class="modal-close waves-effect waves-green btn-flat" id="submitReview">Submit Review</button>
      </div>
  </div>
