<h1 class="hide-on-small-only fuego-text fuego-pink">{{user.username}}</h1>
<h5 class="hide-on-large-only fuego-text fuego-pink">{{user.username}}</h5>

<div class="row gpCard">
    <div class="col s12 m6 l6 push-l3 hide-on-large-only">
        <div class="card black">
            <div class="card-image">
                <img src="public/Images/avatar-placeholder.png">
            </div>
            <div class="card-content center-align black">
                <p class="center-align cyan-text accent-1">
                    Member Since: {{user.creation_date}}
                </p>
                <p class="center-align cyan-text accent-1">
                    time since creation date:
                </p>
                <p class="center-align cyan-text accent-1">
                    Reviews: {{user.review_count}}
                </p>
                <p class="center-align cyan-text accent-1">
                    Feedback Given: {{user.feedback_count}}
                </p>
            </div>
        </div>
    </div>
</div>
<br>

<div class="gameBox game-card col s12 m6 l6 push-l3 hide-on-small-only">
    <div class="card center-align">
        <div class="card-image center-align black">
            <img src="/Images/avatar-placeholder.png">
        </div>
        <div class="card-content center-align black">
            <p class="center-align cyan-text accent-1">
                Member Since: {{user.creation_date}}
            </p>
            {{!-- <p class="center-align cyan-text accent-1">
                time since creation date:
            </p> --}}
            <p class="center-align cyan-text accent-1">
                Reviews: {{user.review_count}}
            </p>
            <p class="center-align cyan-text accent-1">
                Name: {{user.firstname}} {{user.lastname}}
            </p>
            <p class="center-align cyan-text accent-1">
                {{!-- Feedback Given: {{user.feedback_count}} --}}
            </p>
        </div>
    </div>
</div>
<br>

<h3 class="rtdGames"><span class="fuego-text">Your <span class="fuego-pink">Rated</span> Games</span></h3>

<br>
<br>
<div class="">
    <div class="carousel">
        {{#each user.games}}
        <div class="carousel-item">
        {{> search-results-large}}
        </div>
        {{/each}}
    </div>
</div>
<br>
<br>
<br>

<h3 class="rtdGames"><span class="fuego-text">Your Most <span class="fuego-pink">Recent</span> Review</span></h3>
<div class="section">
    <div class="gRev center-align">
        <div class="card black">
            <div class="card-content">
                <span class="gHead card-title">{{user.reviews.[0].review_title}}</span>
                <p>
                    {{user.reviews.[0].description}}
                </p>
            </div>
            <div class="revFS">
                {{#eq user.reviews.[0].num_rating "1"}}
                <i class="material-icons pink-text lighten-5">whatshot</i>
                {{/eq}}
                {{#eq user.reviews.[0].num_rating "2"}}
                <i class="material-icons pink-text lighten-5">whatshot</i>
                <i class="material-icons pink-text lighten-5">whatshot</i>
                {{/eq}}
                {{#eq user.reviews.[0].num_rating "3"}}
                <i class="material-icons pink-text lighten-5">whatshot</i>
                <i class="material-icons pink-text lighten-5">whatshot</i>
                <i class="material-icons pink-text lighten-5">whatshot</i>
                {{/eq}}
                {{#eq user.reviews.[0].num_rating "4"}}
                <i class="material-icons pink-text lighten-5">whatshot</i>
                <i class="material-icons pink-text lighten-5">whatshot</i>
                <i class="material-icons pink-text lighten-5">whatshot</i>
                <i class="material-icons pink-text lighten-5">whatshot</i>
                {{/eq}}
                {{#eq user.reviews.[0].num_rating "5"}}
                <i class="material-icons pink-text lighten-5">whatshot</i>
                <i class="material-icons pink-text lighten-5">whatshot</i>
                <i class="material-icons pink-text lighten-5">whatshot</i>
                <i class="material-icons pink-text lighten-5">whatshot</i>
                <i class="material-icons pink-text lighten-5">whatshot</i>
                {{/eq}}
            </div>
            <div class="card-action">
                {{!-- <a class="unRev pink-text lighten-5" href="#">Create helper to return most recent review user</a>
                --}}
                <p>{{creation_date}}</p>
            </div>
            {{!-- <div class="card-action">
                <p>Was this review helpful?</p>
                <button><i class="material-icons tiny">thumb_up</i></button>
                <button><i class="material-icons tiny">thumb_down</i></button>
            </div> --}}
        </div>
    </div>
</div>